@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primario: #443327;
  --color-secundario: #efdcab;
  --color-terciario: #22d4fd;
  --color-destacado: #d98324;
  --color-hover: #272727;
  --color-texto-pie: #000000;

  --fuente-montserrat: "Montserrat", sans-serif;
  --fuente-Krona: "Krona One", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  box-sizing: border-box;
}

.cabecera {
  padding: 2% 0% 0% 15%;
}

.cabecera__menu {
  display: flex;
  gap: 80px;
}

.cabecera__menu__link {
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-terciario);
  text-decoration: none;
}

.presentacion {
  padding: 1% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentacion__contenido {
  width: 415px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.presentacion__contenido__titulo {
  font-size: 2.25rem;
  font-family: var(--fuente-Krona);
}

.titulo-destaque {
  color: var(--color-destacado);
}

.presentacion__contenido__parrafo {
  font-size: 1.5rem;
  font-family: var(--fuente-montserrat);
}

.presentacion__enlace {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.presentacion__enlace__subtitulo {
  font-family: var(--fuente-Krona);
  font-size: 1.5rem;
  font-weight: 400;
}

.presentacion__enlace__link {
  width: 278px;
  text-align: center;
  padding: 21.5px 0px;
  border-radius: 8px;
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-secundario);
  border: 2px solid var(--color-terciario);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.presentacion__enlace__link:hover {
  background-color: var(--color-hover);
}

.pie {
  background-color: var(--color-terciario);
  padding: 1.5rem;
  color: var(--color-texto-pie);
  text-align: center;
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  font-weight: 400;
}
